# OS
.DS_Store

# Defold
build/
builtins/
.internal/
.lock-wscript
/.editor_settings

# Python
*.pyc
__pycache__/
.ruff_cache/

# Build artifacts
bundle/

# Signing keys
debug.keystore
debug.keystore.pass.txt
manifest.private.der
manifest.public.der
